<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% if beers %}
    <table>
          <thead style="text-align:left">
            <tr>
                {% for content in header %}
                    <th>{{ content }}</th>
                {% endfor %}
            </tr>
          </thead>
        <tbody>
        {% for row in beers %}
        <tr>

        <td>{{row["name"]}}</td>
        <td>{{row["herkunft"]}}</td>
        <td>{{row["vol"]}}</td>
        <td>{{row["brauerei"]}}</td>
        <td>{{row["preis"]}}</td>
        <td>{{'%0.2f' % row["steuern"]|float}}</td>

        </tr>
        {% endfor %}
        </tbody>
        </table>
    {% else %}
    <p> Keine Einträge vorhanden.</p>
    {% endif %}
</body>
</html>
