<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    <title>Mountrainer</title>
</head>
<body>
    <div class="container">
        <header class="d-flex justify-content-center py-3">
          <ul class="nav nav-pills">
            <li class="nav-item"><a href="/" class="nav-link" aria-current="page">Home</a></li>
            <li class="nav-item"><a href="/formular" class="nav-link">Dateneingabe</a></li>
            <li class="nav-item"><a href="/analyse" class="nav-link active">Analyse</a></li>
            <li class="nav-item"><a href="/deinjahr" class="nav-link">Dein Jahr</a></li>
            <li class="nav-item"><a href="/aboutme" class="nav-link">About me</a></li>
          </ul>
        </header>
      </div>

    <p>Das ist ein Test.</p>
    <!--<p>{{summe}}</p>-->

    {{output}}

    <p>Sie sind {{km}} km gelaufen</p>

    <ul>
        {%for item in c %}
    <li>{{item}} </li>
    {% endfor %}

    </ul>

{% include "footer.html" %}
