<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    <title>Mountrainer</title>
</head>
<body>
    <div class="container-fluid">
        <nav class="navbar navbar-expand navbar-light bg-light">
          <ul class="nav nav-pills">
            <li class="nav-item"><a href="/" class="nav-link" aria-current="page">Home</a></li>
            <li class="nav-item"><a href="/formular" class="nav-link">Dateneingabe</a></li>
            <li class="nav-item"><a href="/analyse" class="nav-link active">Analyse</a></li>
            <li class="nav-item"><a href="/deinjahr" class="nav-link">Dein Jahr</a></li>
          </ul>
        </nav>
      </div>

    <div class="container-fluid">
        <h3>Übersicht aller Aktivitäten</h3>
        {% if daten_inhalt %}
            <table>
                <!--<thead style="text-align:left">
                    <tr>
                        <th>Vorname</th>
                        <th>Nachname</th>
                        <th>Datum</th>
                        <th>Zurückgelegte Km</th>
                        <th>Zurückgelegte Hm</th>
                        <th>Dauer</th>
                    </tr>
                </thead> -->
                <tbody>
                    {% for x in daten_inhalt: %}
                    {% for item, value in x.items(): %}
                    <tr>
                        <th>{{ item }}</th>
                        <th>{{ value }}</th>
                    </tr>
                    {% endfor %}
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p> Keine Einträge vorhanden.</p>
        {% endif %}
    </div>


{% include "footer.html" %}
