<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    <title>Mountrainer</title>
</head>
<body>
    <nav class="container-fluid p-3 p-md-3 navbar-expand navbar-light bg-light"> <!-- Navigationsbar hell,
    in jeder HTML-Datei einzeln, dass Button des aktuellen Standorts als aktiv gekennzeichnet werden kann -->
          <ul class="nav nav-pills">
            <li class="nav-item"><a href="/" class="nav-link" aria-current="page">Home</a></li>
            <li class="nav-item"><a href="/formular" class="nav-link">Erfassung</a></li>
            <li class="nav-item"><a href="/analyse" class="nav-link active">Wanderungen</a></li>
            <li class="nav-item"><a href="/deinjahr" class="nav-link">Auswertung</a></li>
          </ul>
    </nav>
    <br>

    <div class="container-fluid table-responsive"> <!-- Tabelle mit Daten aus json-Datei -->
        <h3>Übersicht aller Aktivitäten</h3>
        <br>
        {% if daten_inhalt %}  <!-- Jinja Code: Verbindung Python und HTML: if-Bedingung für Tabelle (Liste) -->
            <table class="table table-striped table-sm">
                <thead>
                    <tr>
                        <th>Name</th> <!-- th = Spaltentitel -->
                        <th>Datum</th>
                        <th>Kilometer</th>
                        <th>Hoehenmeter</th>
                        <th>Dauer (in h)</th>
                    </tr>
                </thead>
                <tbody>
                    {% for eintrag in daten_inhalt: %} <!-- for-Schleife mit Jinja if-Schleife für Tabelle (Dictionary) in json-Datei -->
                    <tr>
                        {% for item, value in eintrag.items(): %} <!-- for-Schleife mit Jinja für Werte in Dictionary in Liste in json-Datei -->
                        <td>{{ value }}</td> <!-- Bezug einzelner Werte -->
                        {% endfor %} <!-- Ende von for-Schleife -->
                    </tr>
                    {% endfor %} <!-- Ende von for-Schleife -->
                </tbody>
            </table>
        {% else %} <!-- wenn Bedingung if nicht erfüllt -->
            <p> Keine Einträge vorhanden.</p>
        {% endif %} <!-- Ende der if-Abfrage -->
        <br>
        <a class="btn btn-secondary" href="/formular/" role="button">Neuer Eintrag</a> <!-- Button mit Link auf Formular -->
    </div>


{% include "footer.html" %} <!-- Integration Footer von seperater HTML-Datei -->
