<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    <title>Mountrainer</title>
</head>
<body> <!-- HTML-Seite wird nur aufgeführt, wenn Formular abgeschickt als Bestätigung. -->
    <nav class="container-fluid p-3 p-md-3 navbar-expand navbar-light bg-light"><!-- Navigationsbar hell,
    in jeder HTML-Datei einzeln, dass Button des aktuellen Standorts als aktiv gekennzeichnet werden kann -->
          <ul class="nav nav-pills">
            <li class="nav-item"><a href="/" class="nav-link" aria-current="page">Home</a></li>
            <li class="nav-item"><a href="/formular" class="nav-link active">Erfassung</a></li>
            <li class="nav-item"><a href="/analyse" class="nav-link">Wanderungen</a></li>
            <li class="nav-item"><a href="/deinjahr" class="nav-link">Auswertung</a></li>
          </ul>
    </nav>
    <br>
    <div class="container-fluid">
        <h3>Well done!</h3>
        <p>Danke für deine Eingabe, deine Daten wurden gespeichert.</p><br>
        <a class="btn btn-secondary" href="/formular/" role="button">Zurück</a> <!-- Zurück-Button auf das Formular -->
    </div>
{% include "footer.html" %}
