<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    <title>Mountrainer</title>
</head>
<body>
    <nav class="container-fluid p-3 p-md-3 navbar-expand navbar-light bg-light">
          <ul class="nav nav-pills">
            <li class="nav-item"><a href="/" class="nav-link" aria-current="page">Home</a></li>
            <li class="nav-item"><a href="/formular" class="nav-link">Erfassung</a></li>
            <li class="nav-item"><a href="/analyse" class="nav-link">Wanderungen</a></li>
            <li class="nav-item"><a href="/deinjahr" class="nav-link active">Auswertung</a></li>
          </ul>
    </nav>
    <br>

    <div class="container-fluid">
        <h3>Rückblick auf das Jahr deiner Wandertruppe</h3> <br>
        <h6>Janina:</h6>
        <p>Anzahl km: {{ summe_km_janina }}</p>
        <p>Anzahl hm: {{ summe_hm_janina }}</p>
        <p>Anzahl h: {{ summe_h_janina }}</p><br>
        <h6>Anne:</h6>
        <p>Anzahl km: {{ summe_km_anne }}</p>
        <p>Anzahl hm: {{ summe_hm_anne }}</p>
        <p>Anzahl h: {{ summe_h_anne }}</p><br>
        <h6>Laura:</h6>
        <p>Anzahl km: {{ summe_km_laura }}</p>
        <p>Anzahl hm: {{ summe_hm_laura }}</p>
        <p>Anzahl h: {{ summe_h_laura }}</p><br>
    </div> <!-- Hier endet Übersicht der Leistungen-->

    <div class="container-fluid">
        <h5>Übersicht Höhenmeter:</h5>
        {{ balkendiagramm_hm|safe }}
        <br>

        <h5>Übersicht Kilometer:</h5>
        {{ balkendiagramm_km|safe }}
        <br>

        <h5>Übersicht Zeit:</h5>
        {{ balkendiagramm_h|safe }}
        <br><br><br>

    </div>

{% include "footer.html" %}
