{% include "header.html" %}

    <h3>Mountrainer</h3>
    <p>Erfasse hier deine Daten um eine Analyse deiner Abenteuer zu machen.</p>
    <form method="POST">
        <input type="text" name="vorname" placeholder="Vorname"><br><br>
        <input type="text" name="nachname" placeholder="Nachname"><br><br>
        <input type="text" name="datum" placeholder="Datum"><br><br>
        <input type="text" name="zurueckgelegte Km" placeholder="Zurueckgelegte Km"><br><br>
        <input type="text" name="zurueckgelegte Hm" placeholder="Zurueckgelegte Hm"><br><br>
        <input type="text" name="temperatur" placeholder="Temperatur"><br><br>
        <input type="text" name="dauer" placeholder="Dauer"><br><br>
        <button type="submit">Senden</button>
    </form>

{% include "footer.html" %}
