<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    <title>Mountrainer</title>
</head>
<body>
    <nav class="container-fluid p-3 p-md-3 navbar-expand navbar-light bg-light">
          <ul class="nav nav-pills">
            <li class="nav-item"><a href="/" class="nav-link" aria-current="page">Home</a></li>
            <li class="nav-item"><a href="/formular" class="nav-link active">Erfassung</a></li>
            <li class="nav-item"><a href="/analyse" class="nav-link">Wanderungen</a></li>
            <li class="nav-item"><a href="/deinjahr" class="nav-link">Auswertung</a></li>
          </ul>
    </nav>
    <br>
    <div class="container-fluid">
        <h3>Datenerfassung</h3>
        <p>Erfasse hier deine Daten um eine Analyse deiner Abenteuer zu machen.</p>
            <form method="POST"> <!-- Datenerfassung für die json-Datei im Post-Verfahren; persistente Daten -->
            <select class="form-select" aria-label="Default select example" name="name"> <!-- form-select = Dropdown -->
                <option selected>Wähle deinen Namen</option> <!-- Dropdown-Feld Aufforderung -->
                <option value="Janina">Janina</option> <!-- 1 Element aus Dropdown -->
                <option value="Anne">Anne</option>
                <option value="Laura">Laura</option>
            </select>

            <br>

            <div class="form-group"> <!-- freie Texteingabe im Formular -->
               <label for="datum">Wann hast du deine Wanderung gemacht?</label> <!-- datum wird mit Eingabe befüllt -->
                <input type="text" class="form-control" id="datum" placeholder="Datum der Wanderung (Format: 02.05.2002)" name="datum">
            </div>

            <br>

             <div class="form-group">
               <label for="zurueckgelegte_km">Wie viele Kilometer hast du mit deiner Wanderung gemacht?</label>
                <input type="text" class="form-control" id="zurueckgelegte_km" placeholder="Anzahl Zurückgelegte Km" name="zurueckgelegte_km">
            </div>

            <br>

            <div class="form-group">
               <label for="zurueckgelegte_hm">Wie viele Hoehenmeter hast du mit deiner Wanderung gemacht?</label>
                <input type="text" class="form-control" id="zurueckgelegte_hm" placeholder="Anzahl Zurückgelegte Hm" name="zurueckgelegte_hm">
            </div>

            <br>

            <div class="form-group">
               <label for="dauer">Wie lange warst du unterwegs?</label>
                <input type="text" class="form-control" id="dauer" placeholder="Dauer der Wanderung (in h)" name="dauer">
            </div>

            <br>

            <button type="submit" class="btn btn-secondary btn-md btn-block">Senden</button> <!-- Button zum Senden des Formulars -->

            </form>
    </div>

{% include "footer.html" %}
