<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    <title>Mountrainer</title>
</head>
<body>
    <nav class="container-fluid p-3 p-md-3 navbar-expand navbar-light bg-light">
          <ul class="nav nav-pills">
            <li class="nav-item"><a href="/" class="nav-link active" aria-current="page">Home</a></li>
            <li class="nav-item"><a href="/formular" class="nav-link">Dateneingabe</a></li>
            <li class="nav-item"><a href="/analyse" class="nav-link">Analyse</a></li>
            <li class="nav-item"><a href="/deinjahr" class="nav-link">Dein Jahr</a></li>
          </ul>
    </nav>
    <br>

    <div class="container-fluid">
        <h3>Mountrainer</h3>
        <p>Hey! Schön, dass ihr euch als Wandergruppe für den Mountrainer entschieden habt.<br>
            Hier erhälst du eine Übersicht über die verschiedenen Möglichkeiten, die wir dir bieten:</p>
        <ul>


        </ul>
    </div>

{% include "footer.html" %}
